/**
 * 改自 tailwind 的 `animate-spin`。
 * 参见：<https://tailwindcss.com/docs/animation>。
*/
.animate-spin-400ms {
  animation: spin 400ms linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.text-color-error {
  @apply text-red-500;
}

.text-color-warning {
  @apply text-yellow-500;
}

.text-color-loading {
  @apply text-gray-200;
}

.dicexp-prime-content {
  @apply inline-flex items-center;
}