/* 最初由 AI 生成 */

.previewer-background {
  /* Background colors */
  background-color: #1f1f1f;
  color: #d4d4d4;
}

.previewer-prose {
  /* Online forum dark theme */

  /* Font family */
  font-family: "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;

  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  /* Block-level elements */
  p,
  blockquote,
  ul,
  ol,
  dl,
  table {
    margin: 0;
    padding: 0;
  }

  p,
  blockquote {
    margin-bottom: 1em;
  }

  p {
    line-height: 2;
  }

  hr {
    border: none;
    border-top: 1px solid #444;
    margin: 1em 0;
  }

  blockquote {
    border-left: 0.4em solid darkgreen;
    padding: 0.5em 1em 0.5em;
    background-color: rgba($color: #000000, $alpha: 0.25);

  }

  ul,
  ol {
    padding-left: 2em;
    margin-bottom: 1em;
  }

  dl {
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 1em;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 1em;
  }

  th,
  td {
    border: 1px solid #444;
    padding: 0.5em 1.5em;
  }

  // 去掉了 caption 的 styles

  /* Inline-level elements */
  code {
    font-family: monospace;
    background-color: #2d2d2d;
    padding: 0.1em 0.3em;
    border-radius: 3px;
    color: #f0c674;
  }

  strong,
  b {
    font-weight: bold;
  }

  em:not(.em-dotted),
  i {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  del,
  s,
  strike {
    text-decoration: line-through;
  }

  // 去掉了 ruby 相关的 styles

  /* Non-HTML inline-level elements */
  ref-link>.widget-prime {
    color: green
  }

  dicexp-preview>.widget-prime {
    @apply inline-flex items-center h-[1.5rem] px-2 mx-2;
    @apply border rounded-xl border-sky-700 bg-sky-900 text-white;

    .widget-prime-summary {
      @apply gap-2;
    }

    .widget-prime-action {
      @apply inline-flex items-center h-[1.5rem] -mr-2 pl-1 pr-2 ml-1;
      @apply gap-2;
      @apply border rounded-r-xl border-sky-700 bg-sky-700;
      @apply cursor-pointer select-none;
    }
  }

  scratch-off {
    @apply text-transparent bg-white cursor-pointer select-none;

    * {
      visibility: hidden;
    }

    &.revealed,
    &:not(.by-click):hover {
      @apply text-inherit bg-opacity-10 cursor-[inherit];
      user-select: inherit;

      * {
        visibility: inherit;
      }
    }
  }

  em.em-dotted {
    font-style: normal;
    // 点的大小并不理想，未来计划引入「赫蹏」解决
    text-emphasis: dot;
    text-emphasis-position: under left;
  }

  span.command {
    font-family: monospace;
    background-color: #2d2d2d;
    padding: 0.1em 0.3em;
    border-radius: 3px;
    color: #f0c674;
  }

  span.internal-link {
    color: #61afef;
    text-decoration: none;
    border-bottom: 1px dashed #61afef;
  }
}